USE [QuanLySanBong_K235480106052]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanHangKhachHang]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PhanHangKhachHang]()
RETURNS @DanhSachPhanHang TABLE (
    [MaKH] INT,
    [TenKH] NVARCHAR(100),
    [Diem] INT,
    [Hang] NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @DanhSachPhanHang
    SELECT [MaKhachHang], [HoTenKhachHang], [DiemTichLuy],
           CASE 
                WHEN [DiemTichLuy] >= 50 THEN N'Khách VIP'
                WHEN [DiemTichLuy] >= 20 THEN N'Khách Thân Thiết'
                ELSE N'Thành Viên'
           END
    FROM [KhachHang];
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienCoThue]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTienCoThue] (
    @GiaThue DECIMAL(18,2),
    @SoGio FLOAT
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN (@GiaThue * @SoGio) * 1.1; -- Tính tổng và cộng 10% VAT
END;
GO
/****** Object:  Table [dbo].[SanBong]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBong](
	[MaSanBong] [int] IDENTITY(1,1) NOT NULL,
	[TenSanBong] [nvarchar](100) NOT NULL,
	[LoaiSan] [nvarchar](20) NULL,
	[GiaThueTheoGio] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanBong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachSanTheoLoai]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachSanTheoLoai] (@LoaiSan NVARCHAR(20))
RETURNS TABLE
AS
RETURN (
    SELECT [MaSanBong], [TenSanBong], [GiaThueTheoGio]
    FROM [SanBong]
    WHERE [LoaiSan] = @LoaiSan
);
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatSan]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatSan](
	[MaPhieuDat] [int] IDENTITY(1,1) NOT NULL,
	[MaSanBong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[NgayDat] [date] NULL,
	[SoGioThue] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (1, N'Nguyễn Văn Công', N'0912345678', 15)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (2, N'Trần Duy Mạnh', N'0988888888', 5)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (3, N'Phạm Quang Hải', NULL, 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDatSan] ON 

INSERT [dbo].[PhieuDatSan] ([MaPhieuDat], [MaSanBong], [MaKhachHang], [NgayDat], [SoGioThue]) VALUES (1, 1, 1, CAST(N'2026-05-03' AS Date), 2.5)
INSERT [dbo].[PhieuDatSan] ([MaPhieuDat], [MaSanBong], [MaKhachHang], [NgayDat], [SoGioThue]) VALUES (2, 1, 1, CAST(N'2026-05-03' AS Date), 1.5)
INSERT [dbo].[PhieuDatSan] ([MaPhieuDat], [MaSanBong], [MaKhachHang], [NgayDat], [SoGioThue]) VALUES (3, 1, 1, CAST(N'2026-05-03' AS Date), 1.5)
SET IDENTITY_INSERT [dbo].[PhieuDatSan] OFF
GO
SET IDENTITY_INSERT [dbo].[SanBong] ON 

INSERT [dbo].[SanBong] ([MaSanBong], [TenSanBong], [LoaiSan], [GiaThueTheoGio]) VALUES (1, N'Sân Mỹ Đình 1', N'Sân 7', CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[SanBong] ([MaSanBong], [TenSanBong], [LoaiSan], [GiaThueTheoGio]) VALUES (2, N'Sân Camp Nou 2', N'Sân 5', CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[SanBong] ([MaSanBong], [TenSanBong], [LoaiSan], [GiaThueTheoGio]) VALUES (4, N'Sân Wembley', N'Sân 7', CAST(300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SanBong] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD88B94406]    Script Date: 03/05/2026 3:51:49 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[PhieuDatSan] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[PhieuDatSan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatSan] CHECK CONSTRAINT [FK_PhieuDat_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatSan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_SanBong] FOREIGN KEY([MaSanBong])
REFERENCES [dbo].[SanBong] ([MaSanBong])
GO
ALTER TABLE [dbo].[PhieuDatSan] CHECK CONSTRAINT [FK_PhieuDat_SanBong]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_DiemTichLuy] CHECK  (([DiemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_DiemTichLuy]
GO
ALTER TABLE [dbo].[PhieuDatSan]  WITH CHECK ADD  CONSTRAINT [CK_SoGioThue] CHECK  (([SoGioThue]>(0)))
GO
ALTER TABLE [dbo].[PhieuDatSan] CHECK CONSTRAINT [CK_SoGioThue]
GO
ALTER TABLE [dbo].[SanBong]  WITH CHECK ADD  CONSTRAINT [CK_GiaThue] CHECK  (([GiaThueTheoGio]>(0)))
GO
ALTER TABLE [dbo].[SanBong] CHECK CONSTRAINT [CK_GiaThue]
GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoLanDatSan]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemSoLanDatSan] (
    @MaKH INT,
    @SoLanDat INT OUTPUT -- Tham số trả kết quả ra ngoài
)
AS
BEGIN
    SELECT @SoLanDat = COUNT(*) 
    FROM [PhieuDatSan] 
    WHERE [MaKhachHang] = @MaKH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LayChiTietDatSan]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayChiTietDatSan]
AS
BEGIN
    SELECT 
        K.[HoTenKhachHang] AS [TenKhach],
        S.[TenSanBong] AS [TenSan],
        P.[NgayDat] AS [NgayDatSan],
        S.[LoaiSan]
    FROM [PhieuDatSan] P
    INNER JOIN [KhachHang] K ON P.[MaKhachHang] = K.[MaKhachHang]
    INNER JOIN [SanBong] S ON P.[MaSanBong] = S.[MaSanBong]
    ORDER BY P.[NgayDat] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanBong]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanBong] (
    @TenSan NVARCHAR(100),
    @LoaiSan NVARCHAR(20),
    @GiaThue DECIMAL(18,2)
)
AS
BEGIN
    -- Kiểm tra logic: Giá thuê phải > 0
    IF (@GiaThue <= 0)
    BEGIN
        PRINT N'Lỗi: Giá thuê sân phải lớn hơn 0!';
    END
    ELSE
    BEGIN
        INSERT INTO [SanBong] ([TenSanBong], [LoaiSan], [GiaThueTheoGio])
        VALUES (@TenSan, @LoaiSan, @GiaThue);
        PRINT N'Thêm sân bóng thành công!';
    END
END;
GO
/****** Object:  Trigger [dbo].[trg_KhachHang_To_SanBong]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_KhachHang_To_SanBong]
ON [dbo].[KhachHang]
AFTER UPDATE
AS
BEGIN
    PRINT N'Trigger A đang chạy... cập nhật bảng SanBong';
    UPDATE [SanBong] SET [LoaiSan] = [LoaiSan] WHERE [MaSanBong] = 1;
END;
GO
ALTER TABLE [dbo].[KhachHang] ENABLE TRIGGER [trg_KhachHang_To_SanBong]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatDiemTichLuy]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDiemTichLuy]
ON [dbo].[PhieuDatSan]
AFTER INSERT
AS
BEGIN
    -- Lấy MaKhachHang từ dòng vừa được chèn vào (bảng virtual inserted)
    UPDATE [KhachHang]
    SET [DiemTichLuy] = [DiemTichLuy] + 5
    FROM [KhachHang] K
    JOIN inserted i ON K.[MaKhachHang] = i.[MaKhachHang];
    
    PRINT N'Hệ thống: Đã tự động cộng 5 điểm thưởng cho khách hàng!';
END;
GO
ALTER TABLE [dbo].[PhieuDatSan] ENABLE TRIGGER [trg_CapNhatDiemTichLuy]
GO
/****** Object:  Trigger [dbo].[trg_SanBong_To_KhachHang]    Script Date: 03/05/2026 3:51:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SanBong_To_KhachHang]
ON [dbo].[SanBong]
AFTER UPDATE
AS
BEGIN
    PRINT N'Trigger B đang chạy... cập nhật ngược lại bảng KhachHang';
    UPDATE [KhachHang] SET [HoTenKhachHang] = [HoTenKhachHang] WHERE [MaKhachHang] = 1;
END;
GO
ALTER TABLE [dbo].[SanBong] ENABLE TRIGGER [trg_SanBong_To_KhachHang]
GO
